<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title style="text-align: center">Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container" text-align = "center">
    <h1 class="form-signin-heading">Please sign in</h1>

    <main class="form-signin">
        <!-- action must be /login, method must be post-->
        <form th:action="@{/login}" method="post">
            <div th:if="${param.error}" style="color: red">
                Invalid username or password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <p>
                <label for="username" >Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                       autofocus>
            </p>
            <p>
                <label for="password" >Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            </p>
            <input name="_csrf" type="hidden" value="08a9e14e-6883-4669-a96c-fbe70564f9a7"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </main>


</div>
</body>
</html>